<div class="container">
    <div class="row float-right">
        <a class="m-2"href="/songs">Dashboard</a>
        <a class="m-2" href="/logout">Log Out</a>
    </div>
    <div class="container row m-5">
        <h2><%= @user.first_name %> <%= @user.last_name %>'s Playlist</h2>
    </div>
    <div class="row">
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Times Added</th>
                </tr>
            </thead>
            <tbody>
                <% if @user.liked_songs %>
                <% @user.liked_songs.uniq.each do |song| %>
                <tr>
                    <td><%= song.artist %></td>
                    <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
                    <td><%= @user.playlists.where(song_id: song.id).count %></td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>