<div class="container">
    <div class="row float-right">
        <a href="/logout">Logout</a>
    </div>
    <div class="row">
        <h2>Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</h2>
    </div>
    <div class="row">
        <h4>All the songs in our hub</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Artist</th>
                    <th scope="col">Title</th>
                    <th scope="col">No of Times Song Has Been Added</th>
                    <th scope="col">Add to Playlist</th>
                </tr>
            </thead>
            <tbody>
                <% if @songs %>
                <% @songs.each do |song| %>
                <tr>
                    <td><%= song.artist %></td>
                    <td><a href="/songs/<%= song.id %>"><%= song.title %></a></td>
                    <td><%= song.likers.count %></td>
                    <td>
                        <form action="songs/<%= song.id %>/users/<%= current_user.id %>/add_to_playlist" method="POST">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="submit" value="Add" class="btn btn-primary">
                        </form>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
        <h5>Add a Song</h5>
        </div>
        <form action="/users/<%= current_user.id %>/songs" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="song[title]">
            </div>
            <div class="form-group">
                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="song[artist]">
            </div>
            <input type="submit" value="Add Song" class="btn btn-primary">
        </form>
    </div>
</div>